body {
    margin: 0;
    padding: 0;
    background: #89ade0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.logo {
    color: #010304;
    font-size: 50px;
    margin: 25px 0;
}
.creator-name {
    color: #090101dd;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: -15px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #00c8ff;
}
.player-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.player-container iframe {
    width: 100%;
    height: 700px;
    border: none;
    display: block;
}

/* Mobile */
@media (max-width: 768px) {

    .logo {
        font-size: 35px;
    }

    .player-container {
        width: 100%;
    }

    .player-container iframe {
        width: 100%;
        height: 600px;
    }
}